<div class="scroll-container">
  {{#if hasEntries}}
    <div class="scroll-entries">
      {{#each entries}}
        {{> "modules/calendaria/templates/applications/calendar/chronicle-entry.hbs"}}
      {{/each}}
    </div>
  {{else}}
    <div class="scroll-empty">
      <i class="fas fa-scroll"></i>
      <p>{{localize "CALENDARIA.Chronicle.Empty"}}</p>
    </div>
  {{/if}}
</div>
