<div class="standard-form">
  <p>{{localize "CALENDARIA.Settings.ResetPosition.Confirm"}}</p>
  <footer class="form-footer">
    <button type="button" data-action="reset" autofocus>
      <i class="fas fa-undo"></i>
      <span>{{localize "CALENDARIA.Settings.ResetPosition.Label"}}</span>
    </button>
    <button type="button" data-action="cancel">
      <i class="fas fa-times"></i>
      <span>{{localize "CALENDARIA.UI.Cancel"}}</span>
    </button>
  </footer>
</div>
