<div class="calendaria chat-release">
  <div class="release-header">
    <i class="fa-solid fa-calendar"></i>
    <strong>{{localize "CALENDARIA.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="https://www.patreon.com/3deathsaves" target="_blank" rel="noopener"><i
            class="fa-brands fa-patreon"></i> Now on Patreon!</a></strong>
    </p>

    <h4>New Features</h4>
    <ul>
      <li>A new permission can hide the Note Viewer button from players</li>
    </ul>

    <h4>Bug Fixes</h4>
    <ul>
      <li>The Note Viewer no longer hints at hidden notes through its count</li>
    </ul>

  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "CALENDARIA.Release.ReleaseNotes"}}
  </a>
</div>
