<div class="calendaria chat-release">
  <div class="release-header">
    <i class="fa-solid fa-calendar"></i>
    <strong>{{localize "CALENDARIA.Release.Title" version=version}}</strong>
  </div>

  <div class="release-body">
    <p class="release-patreon">
      <strong><a href="https://www.patreon.com/3deathsaves" target="_blank" rel="noopener"><i
            class="fa-brands fa-patreon"></i> Now on Patreon!</a></strong>
      All current modules stay free!
    </p>

    <h4>Headline</h4>
    <ul>
      <li>BigCal: frameless floating redesign with gapless day grid</li>
      <li>MicroCal: ultra-compact MiniCal mode with circular cells</li>
      <li>Sun Dial: animated sky clock with draggable sun handle</li>
      <li>Stop Watch: physical dial with animated hands</li>
    </ul>

    <h4>New</h4>
    <ul>
      <li>Unified settings for all floating apps (auto-fade, force, sticky states)</li>
      <li>FX Density, Speed, and Color controls in Weather Picker</li>
      <li>Combat Mode dropdown (5 options), Run Clock During Combat</li>
      <li>Global Weather FX toggle, sound volume slider, regenerate button</li>
    </ul>

    <h4>Fixes</h4>
    <ul>
      <li>Weather generation now filters disabled zone presets</li>
      <li>BigCal week view with intercalary months</li>
      <li>Importer fixes for all 6 sources</li>
    </ul>
  </div>

  <a class="open-note" href="{{repoUrl}}" target="_blank" rel="noopener">
    <i class="fa-solid fa-arrow-up-right-from-square"></i> {{localize "CALENDARIA.Release.ReleaseNotes"}}
  </a>
</div>
