<div class="calendaria-hud-dome" {{#if canChangeDateTime}}role="button" tabindex="0" data-action="openTimeDial"
  data-tooltip aria-label="{{localize 'CALENDARIA.HUD.ClickToSetTime'}}" {{/if}}>
  <canvas class="calendaria-hud-scene-canvas"></canvas>
</div>
