<div class="dome" {{#if canChangeDateTime}}role="button" tabindex="0" data-action="openSunDial"
  data-tooltip aria-label="{{localize 'CALENDARIA.HUD.ClickToSetTime'}}" {{/if}}>
  <canvas class="scene-canvas"></canvas>
</div>
