:root {
  --calendaria-day-gap: 0.125rem;
  --calendaria-day-size: 5.3125rem;
  --calendaria-highlight: rgb(255 255 255 / 20%);
  --calendaria-note-badge-bg: rgb(225 180 56);
  --calendaria-note-badge-text: rgb(0 0 0);
  --calendaria-ui-accent: var(--color-warm-1, rgb(238 155 58));
  --calendaria-ui-border: var(--color-cool-4, rgb(48 40 49));
  --calendaria-ui-error: var(--color-level-error, rgb(206 7 7));
  --calendaria-ui-success: var(--color-level-success, rgb(38 178 49));
  --calendaria-ui-surface: var(--color-cool-5-75, rgb(11 10 19 / 75%));
  --calendaria-ui-surface-50: var(--color-cool-5-50, rgb(11 10 19 / 50%));
  --calendaria-ui-surface-dim: var(--color-cool-5, rgb(11 10 19));
  --calendaria-ui-text-dim: var(--color-text-light-6, rgb(153 153 153));
  --calendaria-week-day-width: 6.25rem;
  --calendaria-week-header-height: 1.5rem;
  --calendaria-week-hour-height: 1.5rem;
  --calendaria-week-hour-width: 1.5625rem;
  --calendaria-weekday-height: 1.75rem;
  --calendaria-year-cell-padding: 0.5rem;
  --calendaria-year-gap: 0.75rem;
  --calendaria-year-header-height: 2rem;
  --calendaria-year-month-gap: 0.25rem;
  --calendaria-year-month-height: 1.5rem;
  --calendaria-year-month-width: 3.125rem;
}

.theme-light {
  --calendaria-highlight: rgb(255 255 255 / 40%);
  --calendaria-note-badge-bg: rgb(225 180 56);
  --calendaria-note-badge-text: rgb(0 0 0);
}
