<nav class="sheet-tabs tabs" aria-roledescription="{{localize 'SHEETS.FormNavLabel'}}">
  <a data-action="tab" data-group="primary" data-tab="weather">
    <i class="fas fa-cloud-sun"></i>
    <span>{{localize "CALENDARIA.ClimateEditor.Tab.Weather"}}</span>
  </a>
  <a data-action="tab" data-group="primary" data-tab="environment">
    <i class="fas fa-tree"></i>
    <span>{{localize "CALENDARIA.ClimateEditor.Tab.Environment"}}</span>
  </a>
</nav>
