<div class="weather-picker-footer">
  <button type="button" class="footer-btn clear-btn" data-action="clearWeather">
    <i class="fas fa-xmark"></i>
    {{localize "CALENDARIA.Weather.Picker.Clear"}}
  </button>
  <button type="button" class="footer-btn random-btn" data-action="randomWeather">
    <i class="fas fa-dice"></i>
    {{localize "CALENDARIA.Weather.Picker.Random"}}
  </button>
  <button type="submit" class="footer-btn save-btn">
    <i class="fas fa-save"></i>
    {{localize "CALENDARIA.Weather.Picker.Save"}}
  </button>
</div>
